<p>All facts must start with the word 'Vish', 'Vishvananda', or 'Vishy'.</p>

<p class='example'>Example: "Vish applies a binary function with one argument, it curries itself out of fear."</p>

<%= render 'form' %>
